# Ignore virtual environment folder
venv/

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
# Environment variables file
.env

# MacOS-specific ignores
.DS_Store

# Other potentially large or sensitive files to ignore
*.log
*.sqlite3
chat_history.*
.idea/